.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
}
.cursor--small {
  width: 8px;
  height: 8px;
  left: -4px;
  top: -4px;
  border-radius: 50%;
  z-index: 11000;
  background: $dark-gray;
}
.cursor--canvas {
  width: 100vw;
  height: 100vh;
  z-index: 12000;
}