.cursor {
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
}

.cursor--small {
  background: $dark-gray;
  border-radius: 50%;
  height: 8px;
  left: -4px;
  top: -4px;
  width: 8px;
  z-index: 11000;
}

.cursor--canvas {
  height: 100vh;
  width: 100vw;
  z-index: 12000;
}

