// $neat-grid: (
//   columns: 12,
//   gutter: 20px,
// );

body {
  cursor: none !important;
  font-size: modular-scale(2);
  height: 100%;
  // overflow: hidden;
  // overflow-x: hidden;
  width: 100%;
}

header {
  .logo {
    @include position(fixed, $margin-edge);
    @include size(auto, 1em);
  }
  .menu {
    @include position(fixed, $margin-edge $margin-edge null null);
    @include size(auto, 1.4em);
  }
  .social {
    @include position(fixed, null $margin-edge $margin-edge null);
    @include size(auto, 1em);
  }
  .showreel {
    @include position(fixed, null null $margin-edge $margin-edge);
    @include size(auto, 1em);
  }
}

nav{
  font-size: 1em;
  font-family: monospace;
  display:flex;
  justify-content: center;
  align-content: center;


  #menu{
    li{
      a{
        text-transform: uppercase;
        letter-spacing: 1px;
        text-decoration: none;
      }
    }
  }
}

.main {
  display: grid;
}